@use 'utils' as ds;

.minimize-btn {
	position: absolute;
	top: 1em;
	
	left: 180px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: ds.$primary-color;
	color: #fff;
	border: none;
	font-size: 1.1em;
	cursor: pointer;
}

.container {
	position: inherit;
	top: 2em;

	ul {
		position: inherit;
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 15px;

		li {
			position: inherit;
			margin-bottom: 0;

			a {
				position: inherit;
				text-decoration: none;
				text-wrap: wrap;
				color: ds.$primary-color;
				font-size: 1.2em;
				font-weight: bold;
				transition: color 0.3s ease, transform 0.2s;
				padding: 0.5em 1em;
				border-radius: 5px;
			}

			a:hover {
				color: ds.$button;
			}
		}
	}
}
