$primary-color: #33cc33;
$button: #a2af9f;
$accent-color: #f1722b;
$secondary-color: #00c4ff;
$hover-color: #008fff;

$text-heading: #3f4a3c;
$text-color: #444;
$nav-background: #333;

$background-color: #f5f5f5;

$alert-color: #f1722b;
$error-color: #ff0000;

// #008fff
