<div class="details-wrapper">
	@if (!crop || !crop.name) {
	<p>Loading...</p>
	} @else {

	<header>
		<div>
			<h1>{{crop.name}}</h1>

			<div class="auth-buttons">
				@if(isAuth ) { 
					@if(!isFavorite()) {
						<button (click)="addToFavorites()">
							<span>Add to Favorites</span>
						</button>
					}

					@if(isOwner()) {
						<a [routerLink]="['/edit', crop._id]">
							<span>Edit Crop</span>
						</a>
					}
				}
			</div>
		</div>

		<div>
			<p>{{crop.description }}</p>

			<img src="{{crop.picture}}" alt="{{crop.name}}" />
		</div>
	</header>

	<section class="attributes">
		<h2>Attributes</h2>

		<div class="cards">
			@for (attribute of crop.attributes | keyvalue; track attribute) {
			<div class="card">
				<p>{{attribute.key | transformAttr}}</p>
				<!-- add icon -->
				<small>{{attribute.value}}</small>
			</div>
			}
		</div>
	</section>

	<section class="nutrition">
		<h2>Nutrition properties</h2>
		<div>
			<h3>Nutrients</h3>
			<ul>
				@for(nutrition of crop.nutrition.nutrients; track nutrition) {
				<li>{{nutrition}}</li>
				}
			</ul>
		</div>

		<div>
			<h3>Vitamins</h3>
			<ul>
				@for(vitamin of crop.nutrition.vitamins; track vitamin) {
				<li>{{vitamin}}</li>
				}
			</ul>
		</div>
	</section>

	<section class="companions">
		<h2>Companion Plants</h2>
		<ul>
			@for(plant of crop.companionPlants; track plant) {
			<li>{{plant.plant}} - {{plant.reasons}}</li>
			}
		</ul>
	</section>

	<section class="combative">
		<h2>Combative Plants</h2>
		<ul>
			@for(plant of crop.combativePlants; track plant) {
			<li>{{plant.plant}} - {{plant.reasons}}</li>
			}
		</ul>
	</section>

	<section class="pests">
		<h2>Pests</h2>
		<ul>
			@for(pest of crop.pests; track pest) {
			<li>{{pest}}</li>
			}
		</ul>
	</section>

	<section class="diseases">
		<h2>Diseases</h2>
		<ul>
			@for(disease of crop.diseases; track disease) {
			<li>{{disease}}</li>
			}
		</ul>
	</section>
	}
</div>
