<main class="home-content">
	<header>
		<h1>Welcome to Crops-Info Wikipedia</h1>
	</header>

	<section class="hero">
		<h3>
			Discover a wealth of information about various crops, their attributes, nutritional
			value, and more.
		</h3>

		<a routerLink="/catalog" class="button">Explore Our Catalog</a>
	</section>

	<section class="features-section">
		<div class="features">
			<div class="feature">
				<img
					src="https://res.cloudinary.com/dzh01qrmx/image/upload/c_thumb,w_200,g_face/v1734178430/crop-diagram-care_iqciyu.png"
					alt="Crop Attributes" />
				<h3>Comprehensive Crop Attributes</h3>
				<p>
					Explore detailed attributes for each crop, including growth conditions,
					companion plants, and more.
				</p>
			</div>

			<div class="feature">
				<img
					src="https://res.cloudinary.com/dzh01qrmx/image/upload/c_thumb,w_200,g_face/v1734178427/nutritients_diagram_gpymba.png"
					alt="Nutritional Information" />
				<h3>Nutritional Insights</h3>
				<p>
					Learn about the nutritional benefits of different crops and how they contribute
					to a healthy diet.
				</p>
			</div>

			<div class="feature">
				<img
					class="link"
					(click)="handleCommunityClick('https://www.urbangardening-sofia.com/')"
					src="https://res.cloudinary.com/dzh01qrmx/image/upload/v1734178435/cropped-logo-3-288x300_sywzne.png"
					alt="Community" />
				<h3>
					Join Our Community
					<br />
					"Urban gardening - Sofia"
				</h3>
				<p>
					Connect with other garden enthusiasts, share knowledge, and grow your own
					garden. Follow topics like:
				</p>
				<ul>
					<li>Tips to grow in the ground</li>
					<li>Grow crops in pots</li>
					<li>Urban gardening</li>
					<li>Balcony garden tips</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="call-to-action">
		<h2>Get Started</h2>

		<p>
			Ready to start exploring? Browse our catalog to discover new crops and learn how to grow
			them.
		</p>

		<a routerLink="/catalog" class="button">Browse Our Catalog</a>
	</section>

	<section class="partners">
		<h2>Our partners</h2>
		<div class="wrapper">
			@for (partner of partners; track partner) {
			<div class="partner">
				<img
					class="link"
					(click)="handleCommunityClick('{{partner.link}}')"
					src="{{partner.image}}"
					alt="{{partner.name}}" />
			</div>
			}
		</div>
	</section>

	<footer>
		<div class="footer-content">
			<div class="wrapper">
				<h3>Links</h3>
				<ul>
					<li><span>About</span></li>
					<li><span>Contact</span></li>
					<li><span>Catalog</span></li>
					<li><span>Favorites</span></li>
				</ul>
			</div>

			<div class="wrapper">
				<h3>Resources</h3>
				<ul>
					<li>
						<span>
							"Urban gardening - Sofia"
						</span>
					</li>
					<li>
						<span>
							"Urban gardening - Sofia" blog
						</span>
					</li>
				</ul>
			</div>

			<div class="wrapper">
				<h3>Legal</h3>
				<ul>
					<li><span>Terms and Conditions</span></li>
					<li><span>Privacy Policy</span></li>
				</ul>
			</div>
		</div>

		<p class="copyright">&copy; 2023 - Crops-Info Wikipedia</p>
	</footer>
</main>
