h1 {
	text-align: center;
	color: #333;
	font-weight: bold;
}

ul {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1em;
	list-style: none;
	padding: 0;
}
