<h2>Register Form</h2>

<form #registerForm="ngForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="email">Email:</label>
		<input
			type="text"
			placeholder="Email"
			name="email"
			id="email"
			required
			email
			ngModel
			#emailInput="ngModel" 
		/>
	</div>

	@if (emailInput.errors?.["email"]) {
		<div class="error">Email is not valid!</div>
	}

	<div class="form-group">
		<label for="password">Password:</label>
		<input
			type="password"
			name="password"
			id="password"
			placeholder="Password"
			required
			ngModel
			#passwordInput="ngModel" />
	</div>
	@if (passwordInput.touched) {
		@if (passwordInput.errors?.["required"]) {
			<div class="error">Password is required!</div>
		}
	}

	<div class="form-group">
		<label for="rePassword">Confirm Password:</label>
		<input
			type="password"
			placeholder="Repeat Password"
			name="rePassword"
			id="rePassword"
			required
			ngModel
			#rePasswordInput="ngModel" />
	</div>
	@if (rePasswordInput.touched && passwordInput.touched && rePasswordInput.value !== passwordInput.value) {
		<div class="error">Passwords do not match!</div>
	}

	<button>Register</button>
</form>
