
.app-container {
   display: flex;
}
app-sidebar {
   width: 300px;
   border-right: 1px solid #ddd;
}
app-whiteboard {
   flex-grow: 1;
   position: relative;
   background-color: #f9f9f9;
   overflow: auto;
}
