.app-container {
   display: flex;
}

.navbar {
   width: 150px;
   border-right: 1px solid #ddd;
}

app-whiteboard {
   flex-grow: 1;
   position: relative;
   background-color: #f9f9f9;
   overflow: auto;
}
