$primary-color: #33cc33;
$secondary-color: #333;
$background-color: #f5f5f5;
$font-color: #444;

.main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: row;

	.navbar {
		position: sticky;
		top: 0em;
		
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 200px;
		height: 100dvh;
		background-color: $secondary-color;
		color: $font-color;
		box-shadow: 4px 0 12px rgba(0, 0, 0, 0.2);
		
		transition: transform 0.3s ease-in-out, flex 0.3s ease-in-out, width 0.3s ease-in-out;
		transform: translateX(0);

		&.minimized {
			width: 50px;
			transform: translateX(-100px);
		}

		&.hidden {
			transform: translateX(-100%);
			flex: 0 0 0;
			width: 0;
		}
	}

	.whiteboard {
		position: inherit;
		margin: 0em auto;
		padding: 0 4em;
		width: calc(100dvw - 200px);
	}
}
