<h2>Login form</h2>
<form #loginForm="ngForm" (ngSubmit)="onLogin()">
	<div class="form-group">
		<label for="email">Email:</label>
		<input
			type="text"
			placeholder="Email"
			name="email"
			id="email"
			required
			email
			ngModel
			#emailInput="ngModel" />
	</div>

	@if (emailInput.errors?.["email"]) {
	<div class="error">Email is not valid!</div>
	}

	<div class="form-group">
		<label for="password">Password:</label>
		<input
			type="password"
			name="password"
			id="password"
			placeholder="Password"
			required
			ngModel
			#passwordInput="ngModel" />
	</div>
	@if (passwordInput.touched) { @if (passwordInput.errors?.["required"]) {
	<div class="error">Password is required!</div>
	} }
	<a routerLink="/register">Don't have an account? Register</a>

	<button>Login</button>
</form>
