@use 'utils' as ds;

.new-crop-border {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 2em;
	margin: 0 6rem;
	border-radius: 0.25rem;
	background-color: ds.$background-color;
	color: ds.$text-color;
	font-size: 1rem;

	.header-background {
		background-color: ds.$background-color;
		padding: 0.5rem;
		border-bottom: 1px solid #ddd;
		font-size: 1.25rem;
		font-weight: bold;
	}

	.form-group {
		margin-bottom: 1rem;
		label {
			display: block;
			font-weight: 600;
			margin-bottom: 0.25rem;
		}
		input,
		textarea,
		select {
			width: 100%;
			padding: 0.5rem;
			border: 1px solid #ddd;
			border-radius: 0.25rem;
			transition: border-color 0.3s ease, box-shadow 0.3s ease;
		}
		input:focus,
		textarea:focus,
		select:focus {
			border-color: ds.$accent-color;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
			outline: none;
		}
		.error {
			color: ds.$error-color;
			font-size: 0.875rem;
			margin-top: 0.25rem;
		}
	}

	.drag-and-drop {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		margin-bottom: 1rem;
		padding: 0.5rem;
		border: 1px dashed #ddd;
		border-radius: 0.25rem;
		background-color: ds.$background-color;
		.form-group {
			flex: 1;
		}
		.preview {
			flex: 0 0 40%;
			h4 {
				margin: 0;
				padding: 0;
				margin-bottom: 0.25em;
			}
			.img-container {
				border-radius: 8px;
				background-color: ds.$background-color;
				overflow-x: auto;
				border: 1px solid #ddd;
				padding: 0.5rem;
				.uploaded-image {
					width: 100%;
					height: auto;
					border-radius: 8px;
				}
			}
		}
	}

	.form-buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
	}

	button {
		padding: 0.5rem 1rem;
		font-size: 0.875rem;
		cursor: pointer;
		border-radius: 0.25rem;
		border: none;
		transition: background-color 0.3s ease, transform 0.2s ease;
	}

	button.cancel {
		background-color: ds.$background-color;
		color: ds.$text-color;
	}

	button.submit {
		background-color: ds.$accent-color;
		color: white;
	}

	button:hover {
		background-color: lighten(ds.$accent-color, 10%);
		transform: translateY(-2px);
	}
}
